python-dotenv==1.1.1
structlog==25.4.0

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72

langchain-groq==0.3.6
langchain-google-genai==2.1.8
langchain-openai==0.2.10

docx2txt==0.9
ipykernel==6.30.0
python-multipart==0.0.20

faiss-cpu==1.11.0

fastapi==0.115.6
starlette==0.41.3
uvicorn==0.32.1

streamlit==1.45.1

Jinja2==3.1.4

langsmith==0.4.8
openai==1.99.9
pandas==2.3.1

langchain-huggingface==0.3.1
sentence-transformers==5.0.0

requests==2.32.4